---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Perk from "../components/Perk.astro"
import { Image } from 'astro:assets';
import heroImageMobile from '../images/bg-hero-mobile.svg'
import heroImageDesktop from '../images/bg-hero-desktop.svg'
---

<Layout title="Huddle">
	<main>
		<section class="hero">
			<div class="hero__content">
				<h1> Build The Community Your Fans Will Love</h1>
				<p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience. 
				  Create connections with your users as you engage in genuine discussion.</p>
				<button>
					Get Started For Free
				</button>
			</div>
			<div class="hero__image">
				<Image class="desktopOnly" src={heroImageDesktop} alt=""/>
				<Image class="mobileOnly" src={heroImageMobile} alt=""/>
			</div>
			<section class="perks">
				<Perk></Perk>
				<Perk></Perk>
				<Perk></Perk>
			</section>
		</section>
	</main>
		
</Layout>

<style lang="scss">
	 @use '../scss/_variables.scss' as *;
	body{
		font-family: $ff-body;
		font-weight:300;
		display:flex;
		flex-direction:column;
		background-color:$neutral-100;
		
		
	}
	main{
		margin-inline: 5vw;
	}
	.desktopOnly{
			display: none;
		}
	.mobileOnly{
			display: block;
	}
	.hero{
		display: flex;
		flex-direction: column;
		&__content{text-align: center;
			h1{
				font-family: var(--ff-heading);
				font-weight: 700;
			}
			p{

			}
			button{

			}
		}
	}
	@media only scren and (min-width:1440px){
		.desktopOnly{
			display: block;
		}
		.mobileOnly{
			display: none;
		}
	}
</style>
