<footer>
    <div>
        <h2>Ready To Build Your Community?</h2>
        <button>
            Get Started For Free
        </button>
    </div>
    <div>
        <img src="" alt="">
        <div>
            <div>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div>
                <img src="" alt="">
                <p>+1-543-123-4567</p>
            </div>
            <div>
                <img src="" alt="">
                <p>example@huddle.com</p>
            </div>
        </div>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <p>
                &copy; Copyright 2018 Huddle. All rights reserved.
            </p>
        </div>
    </div>
</footer>