---

interface Props {
    title:string,
    text:string
}
const {title, text} = Astro.props
---

<div>
    <slot></slot>
    <h2>{title}</h2>
    <p>{text}</p>
</div>


 
<style lang="scss">
    div{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    h2{
        font-family: var(--ff-heading);
        margin-block: 3rem 1rem;
        font-size: clamp(.25rem, 6vw, 1.75rem);
    }
    p{
        color: var(--neutral-200);
        font-size: clamp(.75rem, 4vw, 1.75rem);
    }

</style>