---
interface Props {
  title: string;
  text: string;
  inversed: boolean;
}

const { title, text, inversed } = Astro.props;
---

<div class:list={["perk", { inversed }]} class="perk">
  <slot />
  <div class="perkWrapper">
    <h2>{title}</h2>
    <p>{text}</p>
  </div>
</div>

<style lang="scss">
  .perk {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 30px 0px var(--neutral-150);
    border-radius: 15px;
    padding: 1rem;
  }
  h2 {
    font-family: var(--ff-heading);
    margin-block: 3rem 1rem;
    font-size: clamp(0.25rem, 6vw, 1.75rem);
  }
  p {
    color: var(--neutral-200);
    font-size: clamp(0.75rem, 3.5vw, 1.75rem);
  }
  @media only screen and (min-width: 450px) and (max-width: 549px) {
    .perk {
      padding: 2rem;
    }
    .perkWrapper {
      p {
        font-size: clamp(0.75rem, 3.5vw, 2.5rem);
      }
    }
  }
  @media only screen and (min-width: 550px) and (max-width: 767px) {
    .perk {
      width: fit-content;
    }
    .perkWrapper {
      h2 {
        font-size: clamp(0.75rem, 5vw, 2.5rem);
      }
      p {
        font-size: clamp(0.75rem, 2.5vw, 2.5rem);
        max-width: 40ch;
        margin-inline: auto;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .perk {
      width: fit-content;
      max-width: 70%;
      padding: 2rem;
    }
    .perkWrapper {
      width: fit-content;
      margin-inline: auto;
      h2 {
        font-size: clamp(0.75rem, 5vw, 2.5rem);
      }
      p {
        font-size: clamp(0.75rem, 2vw, 2.5rem);
        max-width: 40ch;
        margin-inline: auto;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .perk {
      display: flex;
      flex-direction: row-reverse;
      flex-basis: 50%;
      gap: 3rem;
      padding: 3rem;
    }
    .perkWrapper {
      width: 50%;
      margin-block: auto;
      text-align: left;
      h2 {
        font-size: clamp(1rem, 2.5vw, 2.5rem);
      }
      p {
        font-size: clamp(1rem, 1.25vw, 2.5rem);
        max-width: 40ch;
      }
    }
    .perk.inversed {
      flex-direction: row;
      .perkWrapper {
        margin-block: auto;
        text-align: left;
        h2,
        p {
          grid-column: 1;
          grid-row: 1;
        }
        slot {
          grid-column: 2;
          grid-row: 1;
        }
      }
    }
  }

  // @media only screen and (min-width: 1440px) {
  // }

  @media only screen and (min-width: 1920px) {
    .perk {
      justify-content: space-evenly;
      align-items: center;
      padding: 4rem;
    }
    .perkWrapper {
      margin-inline: auto;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      h2 {
        font-size: clamp(1rem, 2.25vw, 3rem);
        width: fit-content;
      }
      p {
        font-size: clamp(1rem, 1vw, 2.5rem);
        max-width: 60ch;
      }
    }
  }
</style>
